<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>InstantLogin Demo App</h1>
  <%= flash.map { |type, message| content_tag(:div, message, class: "flash flash-#{type}") }.join.html_safe %>
  <%= yield %>
</body>
</html>
